@charset "utf-8";
$navbar-padding-vertical: 0;
$navbar-height: 4rem;
$background: #333;
$light_base_color: #EEE;
$title-color: $light_base_color;
$subtitle-color: $light_base_color;
$link: $light_base_color;

$primary: #EEE;
$link-hover: #AAA;
$navbar-item-color: $light_base_color;
$navbar-item-hover-color: #414141;
$navbar-dropdown-item-hover-color: #414141;
$navbar-dropdown-background-color: rgb(47, 46, 46);
$navbar-dropdown-item-hover-background-color:  white;
$navbar-background-color : #231f20;
$footer-background-color: #414141;
$footer-padding: 1rem 1.5rem;
@import "~bulma/bulma";

html,
body {
  margin: 0;
  height: 100%;
}

#app {
  background-color: #231f20;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 1em; /* Height of footer */
  min-height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  .social_container {
    float: left;
    width: 100%;
    img.footer_logo {

    }
    .title {

      font-size: 1.2rem;
    }
    ul.social {
      float: right;
      list-style-type: none;
      li {
        float: left;
        a {
          img {
            max-height: 1.5rem;
            padding: 0 0.2rem;
          }
        }
      }
    }
  }
}
body, nav {
  background-color: #231f20;
  color: $light_base_color;
}

img.burn_banner {
  width: 100%;
  height: auto;
}

b, strong {
  color: #CCC;
}


nav {
  
  &.top {
    z-index: 40;
  }
  .navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
    font-size: 1.2rem;
  }
  .navbar-brand, .navbar-menu, {
    align-items: start;
  }
  .about-active {
    background-color: #fafafa !important;
    a { color: black; }
    a.navbar-item {
      color: white;
    }
  }
  .navbar-burger {
    height: 2.5rem;
    span {
      font-weight: bold;
    }
  }
  .navbar-dropdown {
    a.navbar-item {
      font-size: 1.5rem;
      line-height: 1.8rem;
    }
  }
  a.navbar-item, a.navbar-link {
    font-size: 1.8rem;
    padding-left: 0.6rem;
    padding-right: 1.8rem;
    line-height: 2rem;


     &.is-active, &.router-link-active {
      background-color: #fafafa !important;
      color: #414141;
    }



  }
  .navbar-brand a.router-link-active {
    background-color: initial !important;
  }
  .navbar-end {
    a.navbar-item {

      font-size: 1.25rem;
      line-height: 1.5rem;
      &.active {
        font-weight: bold;
        pointer-events: none;
        cursor: default;
      }
    }
  }
}

section.about_text {
  clear: left;
  max-height: 350px;
  overflow-y: scroll;
  width: 100%;
  .content {
    padding-bottom: 4rem;
  }
}

.metadata {
  .tag {
    margin-left: 0.75rem;
  }
}
.while_waiting {
  top: 50%;
  position: absolute;
  left: 50%;
}

section.section {
  padding: 2rem 1.5rem;
  &.page {
    padding-bottom: 5rem;
    img.page_banner {
      width: 100%;
      height: auto;
      padding: 1.5rem 0;
    }
    .page_content {
      p {
        margin-bottom: 1.2rem;
        a {
          text-decoration: underline;
        }
      }
    }
  }

}
section.post_index {

  h2 {
    padding-left: 1rem;
  }
}

section.event {
  padding-bottom: 6rem;
  figure {
    margin-bottom: 2rem;
  }
  .content {
    h1, h2, h3, h4, h5, h6 {
      color: white;
    }
    &.disclaimer {
      a {
        font-weight: bold;
      }
    }
  }
}
.contributor_events {
  .content {
    h4 {
      margin: 0.75rem 0;
    }
  }
}
section.post_index, section.post_standalone {
  color: $light_base_color;
  .category_description, .category_image {
    padding-left: 1rem;
    margin: 1rem 0;
  }
  .post_wrapper {
    padding: 2rem;

  }
  .post_content {
    padding-bottom: 5rem;
    p {
      margin-bottom: 1.2rem;
      a {
        text-decoration: underline;
      }
    }
  }
  .post_browser {
    padding-bottom: 3rem;
    a {
      font-weight: bold;
      color: #FFF;
    }
  }
  .contributor {
    h3 {
      margin: 1rem 0 0.5rem 0;
    }
    .content {
      margin-top: 0.5rem;
    }
  }
  .post, .contributor {
    height: 100%;
    .subtitle {
      margin-bottom: 0;
      font-weight: bold;
    }
    .posted_at {
      margin-bottom: 1rem;
      color: $light_base_color;
    }
    .excerpt {
      color: $light_base_color;
    }

    padding-bottom: 2rem;

    &.contributor {
      h3 {
        margin: 1rem 0 0.5rem 0;
      }
      .content {
        margin-top: 0.5rem;
      }
      .events {
        ul {
          li {
            a {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  
}

section.full_index .post_index {
  max-height: initial;
  overflow: none;
}

.video-embed {
  position: relative;
  padding-bottom: 56.10%;
  height: 0;
  overflow: hidden;
}

.video-embed iframe,
.video-embed object,
.video-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content {
  p {
    color: $light_base_color;
    text-align: left;

  }
}

.opencall {
  padding: 1.5rem 0;
  &.content {
    p {
      text-align: left;
    }
  }
}

section.schedule {
  @include mobile {
    padding-top: 0;
  }
}

.select select {
  background-color: transparent;
}
form {
  padding-bottom: 3rem;
  p.errors {
    font-size: 1.3rem;
    color: red;
  }

  label {
    &.label {
      color: white;
    }
    span.required {
      font-weight: bold;
    }
  }
  textarea {
    &.textarea {
      background-color: $light_base_color;
      color: black;
    }
  }
  .select select {
    color: black;
    option {
      color: black;
    }
  }
  input {
    &.input {
      background-color: $light_base_color;
      color: black;
    }
  }
}

table.table {
  background-color: transparent;
  tr {
    td {
      background-color: transparent;
      color: white;
    }
  }
}

// tablet queries
@media screen and (max-width: 1023px) {
  nav {
    .navbar-end {
      a.navbar-item {
        float: left;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  footer {
    &.footer {
      padding: 1rem 1.5rem 0rem 1rem;
      .column {
        padding: 0.25rem;
      }
      .social_container {
        .columns {
          display: block !important;
        }
        .footer_title_wrapper, .social_wrapper {
          float: left;
          width: 50%;
          .title {
            font-size: 0.8rem;
          }
          img {
            height: 1.2rem;
          }
        }
      }
    }
  }
}
