@charset "utf-8";
$navbar-padding-vertical: 0;
$navbar-height: 2rem;
$background: #333;
$light_base_color: #EEE;
$title-color: $light_base_color;
$subtitle-color: $light_base_color;
$link: $light_base_color;

$primary: #EEE;
$link-hover: #AAA;
$success: #AAA;
$navbar-item-color: $light_base_color;
$navbar-item-hover-color: #414141;
$navbar-dropdown-item-hover-color: #414141;
$navbar-dropdown-background-color: rgb(47, 46, 46);
$navbar-dropdown-item-hover-background-color:  white;
$navbar-background-color : #231f20;
$footer-background-color: #414141;
$footer-height: 95px;
$footer-padding: 0 1.5rem;
@import "~bulma/bulma";
@import 'search';

html,
body {
  margin: 0;
  height: 100%;
}

#app {
  background-color: #231f20;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 1em; /* Height of footer */
  min-height: 100%;

  .twitch .twitch-video {
    padding-top: 56.25%;
    position: relative;
    height: 0;
  }
  
  .twitch .twitch-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-image: url('~@/assets/images/logo_white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  .column {
    padding: 0;
  }

  .social_container {
    float: left;
    width: 100%;
    img.footer_logo {

    }
    .title {

      font-size: 1.2rem;
    }
    
  }
}
body, nav {
  background-color: #231f20;
  color: $light_base_color;
}

img.burn_banner {
  width: 100%;
  height: auto;
}

b, strong {
  color: #CCC;
}


nav {

  &.top {
 
    ul.social {
      float: right;
      list-style-type: none;
      li {
        float: left;
        @include mobile {
          float: right;
        }
        a {
          img {
            max-height: 1.5rem;
            @include mobile {
              max-height: 1rem;
            }
            padding: 0 0.2rem;
          }
        }
      }
    }
  }
  input[type=search] {
    color: black;
  }
  .navbar-menu.is-active {
    @include mobile {
      border-bottom: 2px solid white;
      padding-bottom: 5rem;
      margin-bottom: 2rem;
    }
  }
  &.top, &.second {
    z-index: 40;
  }
  &.top {
    .navbar-brand {
      padding-top: 0.4rem;
    }
    .navbar-end {
      padding-top: 0.75rem;
    }
    .title {
      margin-bottom: 0;
      span {
        font-size: 1.2rem;
      }
    }
  }
  .navbar-link:not(.is-arrowless)::after, .select:not(.is-multiple):not(.is-loading)::after {
    font-size: 1.2rem;
    @include mobile {
      display: none;
    }
  }
  .navbar-brand, .navbar-menu, {
    align-items: start;
  }
  .about-active {
    &:not(.is-arrowless)::after {
      border-color: black;
    }
    background-color: #fafafa !important;
    a { color: white; }
    a.navbar-item {
      color: black;
      @include mobile {
        color: black;
       
      }
    }
  
      .navbar-dropdown {
        a.navbar-item {
          color: white;
          &:hover {
            color: black;
          }
          &.router-link-active {
            color: black;
          }
        }
      
    }
  }
  .navbar-burger {
    height: 2.5rem;
    span {
      font-weight: bold;
    }
  }

  .has-dropdown:hover {

    a.navbar-item {
      color: black;
    }
    .navbar-dropdown {
      a {
        color: #eee;
      }
      a.router-link-active {
       
        color: black;
       
      }
    }
  }
  .navbar-dropdown {
    @include mobile {
      padding: 0;
    }
    
    a.navbar-item {
      font-size: 1.5rem;
      line-height: 1.2rem;
      &:hover {
        color: black;
      }
      @include widescreen {
        font-size: 1.6rem;
        line-height: 2rem;
      }
      @include mobile {
        font-size: 1rem;
        float: left;
        line-height: 1.25rem;
        clear: inherit;
      }
    }
  }
  .navbar-end {
    .searchbox {
 
      padding-top: 1.35rem;
      padding-right: 0.5rem;
      cursor: pointer;
      p {
        margin-top: -1rem;
      }
    }
    a.navbar-item.active {
      padding-top: 1.15rem;
    }
  }
  .navbar-item, .navbar-link {
   
    font-size: 1.15rem;
    @include widescreen {
      font-size: 1.6rem;
      padding-right: 1.8rem;
    }
    padding-left: 0.6rem;
    padding-right: 0.8rem;
    line-height: 2rem;
    @include mobile {
     
      line-height: 1.25rem;
      font-size: 1.2rem;
      clear: both;
    }

     &.is-active, &.router-link-active {
      background-color: #fafafa !important;
      color: #414141;
    }



  }
  .navbar-brand a.router-link-active {
    background-color: initial !important;
  }
  .navbar-end {
    a.navbar-item {

      font-size: 1rem;
      @include widescreen {
        font-size: 1.5rem;
      }
      @include mobile {
        font-size: 0.8rem;
      }
      line-height: 1.25rem;
      &.active {
        font-weight: bold;
        pointer-events: none;
        cursor: default;
      }
    }
  }
  .mobile_lang {
    float: right;
    a {
      float: left;
      clear: none;
    }
 
  }
}

section.about_text {
  clear: left;
  max-height: 350px;
  overflow-y: scroll;
  width: 100%;
  .content {
    padding-bottom: 4rem;
  }
}

.blueimp-gallery>.description { 
  margin-top: 1rem;
}

.metadata {
  .tag {
    margin-left: 0.75rem;
  }
}
.while_waiting {
  top: 50%;
  position: absolute;
  left: 50%;
}


section.section {
  padding: 2rem 1.5rem;
  &.page {
    padding-bottom: 5rem;
    img.page_banner {
      width: 100%;
      height: auto;
      padding: 1.5rem 0;
    }
    .page_content {
      p {
        margin-bottom: 1.2rem;
        a {
          text-decoration: underline;
        }
      }
    }
  }
  &.streams {
    padding: 3.5rem 1.5rem;

  }
}
section.post_index {
  &.contributors {
    .post_wrapper {
      .contributor {
        .content p:first-of-type ~ *  {
            display: none;

        }
      }
    }
  }
  h2 {
    padding-left: 1rem;
  }
}



section.event {
  padding-bottom: 6rem;
  figure {
    margin-bottom: 2rem;
  }
  .event_contributor {
    margin-top: 2rem;
    .content {
      padding-bottom: 4rem;
    }
  }
  .content {
    h1, h2, h3, h4, h5, h6 {
      color: white;
    }
    &.disclaimer {
      margin-top: 2rem;
      a {
        font-weight: bold;
      }
    }
  }
}
.contributor_events {
  .content {
    h4 {
      margin: 0.75rem 0;
    }
  }
}
#schedule_days {
  margin: 2.5rem 0;
}
.schedule_container {
  strong {
    font-weight: 800;
  }
  
}
.radio_schedule {
  &.content {
    table {
      border-width: 0;
      tbody {

        tr:last-child {

           td {
            bottom-border-width: 0;
           }
        }
      }
    }
  }
}
section.post_index, section.post_standalone {
  color: $light_base_color;
  padding-bottom: 12rem;
  .category_description, .category_image {
    padding-left: 1rem;
    margin: 1rem 0;
  }
  .post_wrapper {
    padding: 2rem;

  }
  .post_content {
    padding-bottom: 5rem;
    p {
      margin-bottom: 1.2rem;
      a {
        text-decoration: underline;
      }
    }
  }
  .post_browser {
    padding-bottom: 3rem;
    a {
      font-weight: bold;
      color: #FFF;
    }
  }
  .contributor {
    h3 {
      margin: 1rem 0 0.5rem 0;
    }
    .content {
      margin-top: 0.5rem;
    }
  }
  .post, .contributor {
    height: 100%;
    .subtitle {
      margin-bottom: 0;
      font-weight: bold;
    }
    .posted_at {
      margin-bottom: 1rem;
      color: $light_base_color;
    }
    .excerpt {
      color: $light_base_color;
    }

    padding-bottom: 2rem;

    &.contributor {
      h3 {
        margin: 1rem 0 0.5rem 0;
      }
      .content {
        margin-top: 0.5rem;
      }
      .events {
        ul {
          li {
            a {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  
}

#documentation {
  .image {
    cursor: pointer;
  }
}

section.full_index .post_index {
  max-height: initial;
  overflow: none;
}

.video-embed {
  position: relative;
  padding-bottom: 56.10%;
  height: 0;
  overflow: hidden;
}

.video-embed iframe,
.video-embed object,
.video-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.content {
  p {
    color: $light_base_color;
    text-align: left;

  }
}

.opencall {
  padding: 1.5rem 0;
  &.content {
    p {
      text-align: left;
    }
  }
}

section.schedule {
  padding-bottom: 9rem;
  @include mobile {
    padding-top: 0;
  }
  .tags {
    margin-top: 0.5rem;
  }
}

.select select {
  background-color: transparent;
}
form {
  padding-bottom: 3rem;
  p.errors {
    font-size: 1.3rem;
    color: red;
  }

  label {
    &.label {
      color: white;
    }
    span.required {
      font-weight: bold;
    }
  }
  textarea {
    &.textarea {
      background-color: $light_base_color;
      color: black;
    }
  }
  .select select {
    color: black;
    option {
      color: black;
    }
  }
  input {
    &.input {
      background-color: $light_base_color;
      color: black;
    }
  }
}

table.table {
  background-color: transparent;
  tr {
    td {
      background-color: transparent;
      color: white;
    }
  }
}

// tablet queries
@media screen and (max-width: 1023px) {

  .video-embed_archive {
    position: relative;
    padding-bottom: 56.10%;
    height: 0;
    overflow: hidden;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  nav {
    .navbar-end {
      a.navbar-item {
        float: left;
      }
    }
  }
  footer {
    height: 300px;
    position: relative;
    background-image: url('~@/assets/images/logos.png');
    background-size: cover;
  }
}

@media screen and (max-width: 480px) {
  footer {
    height: 186px;
    position: relative;
    background-image: url('~@/assets/images/logos.png');
    background-size: cover;

    &.footer {

      .column {
        padding: 0;
      }
      .social_container {
        .columns {
          display: block !important;
        }
        .footer_title_wrapper, .social_wrapper {
          float: left;
          width: 50%;
          .title {
            font-size: 0.8rem;
          }
          img {
            height: 1.2rem;
          }
        }
      }
    }
  }
}


section.search_results {
  padding-bottom: 9rem;
  figure {
    margin-bottom: 1.5rem;
  }
  .posted_at {
    margin-bottom: 1rem;
  }
  h2.subtitle {
    margin-top: 2rem;
  }
  h3.subtitle {
    font-weight: bold;
  }
  .events ul li a {
    font-weight: bold;
  }
}