@charset "utf-8";
$navbar-padding-vertical: 0;
$navbar-height: 5rem;
$background: #333;
$light_base_color: #EEE;
$title-color: $light_base_color;
$subtitle-color: $light_base_color;
$link: $light_base_color;
$link-hover: #AAA;
$navbar-item-color: $light_base_color;
$navbar-item-hover-color: #414141;
$navbar-background-color : #231f20;
$footer-background-color: #414141;
$footer-padding: 1rem 1.5rem;
@import "~bulma/bulma";

html,
body {
  margin: 0;
  height: 100%;
}

#app {
  background-color: #231f20;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 1em; /* Height of footer */
  min-height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  .social_container {
    float: left;
    width: 100%;
    img.footer_logo {

    }
    .title {

      font-size: 1.2rem;
    }
    ul.social {
      float: right;
      list-style-type: none;
      li {
        float: left;
        a {
          img {
            max-height: 1.5rem;
            padding: 0 0.2rem;
          }
        }
      }
    }
  }
}
body, nav {
  background-color: #231f20;
  color: $light_base_color;
}

img.burn_banner {
  width: 100%;
  height: auto;
}

b, strong {
  color: #CCC;
}


nav {
  .navbar-brand, .navbar-menu, {
    align-items: start;
  }
  .navbar-burger {
    height: 2.5rem;
    s§n {
      font-weight: bold;
    }
  }
  a.navbar-item {
    font-size: 1.8rem;

    line-height: 1.8rem;
  }
  .navbar-end {
    a.navbar-item {

      font-size: 1.25rem;
      line-height: 1.5rem;
      &.active {
        font-weight: bold;
        pointer-events: none;
        cursor: default;
      }
    }
  }
}

section.about_text {
  clear: left;
  max-height: 350px;
  overflow-y: scroll;
  width: 100%;
  .content {
    padding-bottom: 4rem;
  }
}


.while_waiting {
  top: 50%;
  position: absolute;
  left: 50%;
}

section.section {
  padding: 2rem 1.5rem;
  &.page {
    padding-bottom: 5rem;
    img.page_banner {
      width: 100%;
      height: auto;
      padding: 1.5rem 0;
    }
    .page_content {
      p {
        margin-bottom: 1.2rem;
        a {
          text-decoration: underline;
        }
      }
    }
  }

}
section.post_index {

  h2 {
    padding-left: 1rem;
  }
}

section.post_index, section.post_standalone {
  color: $light_base_color;
  .post_wrapper {
    padding: 2rem;

  }
  .post_content {
    padding-bottom: 5rem;
    p {
      margin-bottom: 1.2rem;
      a {
        text-decoration: underline;
      }
    }
  }
  .post_browser {
    padding-bottom: 3rem;
    a {
      font-weight: bold;
      color: #FFF;
    }
  }
  .post {
    height: 100%;
    .subtitle {
      margin-bottom: 0;
      font-weight: bold;
    }
    .posted_at {
      margin-bottom: 1rem;
      color: $light_base_color;
    }
    .excerpt {
      color: $light_base_color;
    }

    padding-bottom: 2rem;
  }
  
}

section.full_index .post_index {
  max-height: initial;
  overflow: none;
}

.content {
  p {
    color: $light_base_color;
    text-align: left;

  }
}

.opencall {
  padding: 1.5rem 0;
  &.content {
    p {
      text-align: left;
    }
  }
}

form {
  padding-bottom: 3rem;
  p.errors {
    font-size: 1.3rem;
    color: red;
  }
  label {
    &.label {
      color: white;
    }
    span.required {
      font-weight: bold;
    }
  }
  textarea {
    &.textarea {
      background-color: $light_base_color;
      color: black;
    }
  }
  .select select {
    color: black;
    option {
      color: black;
    }
  }
  input {
    &.input {
      background-color: $light_base_color;
      color: black;
    }
  }
}


// tablet queries
@media screen and (max-width: 1023px) {
  nav {
    .navbar-end {
      a.navbar-item {
        float: left;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  footer {
    &.footer {
      padding: 1rem 1.5rem 0rem 1rem;
      .column {
        padding: 0.25rem;
      }
      .social_container {
        .columns {
          display: block !important;
        }
        .footer_title_wrapper, .social_wrapper {
          float: left;
          width: 50%;
          .title {
            font-size: 0.8rem;
          }
          img {
            height: 1.2rem;
          }
        }
      }
    }
  }
}
